* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sixing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Nunito Sans',sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yeseva One',cursive;
  font-size: inherit;
  font-weight: inherit;
}

.header {
  background: #131313;
  padding: 0 10px;
}

.header__container {
  max-width: 1236px;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 22px 0;
}

.logo {
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}

.logo-link {
  color: #E3B873;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-item {
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}

.list-item + .list-item {
  margin-left: 47px;
}

.list-link {
  color: #FFFFFF;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.list-link:hover {
  color: #E3B873;
}

.phone {
  font-size: 11px;
  line-height: 15px;
  color: #E3B873;
}

.btn {
  font-size: 11px;
  text-transform: uppercase;
  color: #FFF;
  padding: 13px 33px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-bottom: 1px transparent;
  border-radius: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn:hover {
  background: #FFF;
  border-bottom: 1px #FFF;
  color: #000;
  text-shadow: #E3B873 0 0 3px;
}
