.header {
	background: #131313;
	padding: 0 10px;
}
.header__container {
	max-width: 1236px;
	margin: 0 auto;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 0 22px 0;
}
.logo {
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
}
.logo-link {
	color: #e3b873;
}
.menu-btn {
	display: none;
}
.list {
	display: flex;
	justify-content: space-between;
}
.list-item {
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
}
.list-item + .list-item {
	margin-left: 47px;
}
.list-link {
	color: #ffffff;
	transition: all 0.5s;
}
.list-link:hover {
	color: #e3b873;
}

.phone {
	font-size: 11px;
	line-height: 15px;
	color: #e3b873;
}
.btn {
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	padding: 13px 33px;
	background: #e3b873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border: 1px solid transparent;
	border-radius: 2px;
	transition: all 0.5s;
}

.btn:hover {
	background: #fff;
	border: 1px solid #fff;
	color: #000;
	text-shadow: #e3b873 0 0 3px;
}

@media (max-width: 1060px) {
	.list {
		display: block;
		position: absolute;
		top: 78px;
		left: 0;
		right: 0;
		background-color: #131313;
		text-align: center;
		padding: 20px 0;
		transform: translateY(-330px);
		transition: all .5s;
	}
	.list .list--active {
		transform: translateY(0);
	}
	.list-item + .list-item {
		margin-right: 47px;
	}
	.list-link {
		display: block;
		padding: 10px 0;
	}
	.menu-btn {
		display: block;
		background: transparent;
		border: none;
		cursor: pointer;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		width: 50px;
		height: 40px;
		position: relative;
		order: 2;
	}
	.menu-btn::before {
		content: "";
		position: absolute;
		width: 50px;
		height: 2px;
		background-color: #fff;
		left: 0;
		top: 18px;
	}
}

@media (max-width: 600px) {
	.phone {
		display: none;
	}
	.btn {
		margin-right: 30px;
	}
}

@media (max-width: 440px) {
	.logo {
		font-size: 9px;
	}
	.btn {
		font-size: 9px;
		padding: 10px 26px;
	}
	.menu-btn {
		width: 40px;
		height: 30px;
	}
	.menu-btn::before {
		width: 40px;
		top: 12px;
	}
}
